.customShadow{
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.1);
}
.userTable{
    @apply bg-white pb-4
}
.userTable th{
    @apply border text-base font-medium

}
.userTable td{
    @apply border text-base text-center

}

/* scrollbar hidden */
.scrollbar-none::-webkit-scrollbar{
    display: none;


}
.Marck{
    font-family: "Marck Script", cursive;
}
.productFont{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}
.backgroundImage{
    background-image: url('./assest/Background/mainBackground.jpg');
    background-size: cover;
}